.expense-container {
    margin: 1rem 0.75rem;
    padding: 1rem;
    background-color: #1f213a;
    border-radius: 0.5rem;
    font-size: 0.875rem;
}

.expense-container:nth-child(1) {
    margin-top: 0;
}

.expense-container img {
    height: 0.875rem;
    margin-left: 1rem;
}

.row-2 {
    margin-top: 0.75rem;
}

.row-2 h2 {
    font-size: 1.125rem;
}

@media screen and (min-width: 768px) {
    .expense-container {
        padding-inline: 1.75rem;
    }

    .expense-container:hover {
        border: 1px solid #7c5df9;
        cursor: pointer;
    }
}
